<% total_pages = (Article.count / @per_page) %>
<% total_pages += 1 if Article.count % @per_page != 0 %>
<% if @actual.to_i == 1 %>
  <div class="main-header">
    <div class="main-title-outer">
      <h1 class="main-title"><i class="fa-solid fa-pen-nib ico-blue"></i> Artigos</h1>
      
    </div>
    <div class="main-middle">
    </div>
    <div class="sec-title-outer">
      <div id="anim-title">
        <p class="sec-title">A <span id="informacao">informação</span> no <span id="tamanho">tamanho</span> certo.</p>
      </div>
    </div>
  </div>
<% end %>
<% if @actual.to_i != 1 %>
  <div class="main-header-2">
    <div class="central">
      <div class="article-title">
        <i class="fa-solid fa-pen-nib ico-blue"></i> Artigos
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <%= render partial: "alert" %>
  
  <%= render partial: "article_list", locals: { articles: @articles } %>
  <div class="central">
    <% if total_pages > 1 %>
      <div class="pages">
        <% (1..total_pages).each_with_index do |page, idx| %>
          <% if @actual.to_i == (idx + 1) %>
            <%= link_to page, root_path(page: page), class: "btn pages" %>
          <% else %>
            <%= link_to page, root_path(page: page), class: "lnk pages" %>
          <% end %>    
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="main-footer">
  <div>
    <h1 class="main-title-footer">
    <i class="fa-solid fa-pen-nib ico-blue"></i> Artigos
    </h1>
  </div>
  <div class="main-middle">
    
  </div>
  <div class="sec-title-outer">
    <p>Aplicação em Rails escrita com fins de aprendizado.</p>
    <p>Inclui Turbo Frames, Turbo Stream, jQuery, entre outras tecnologias.</p>
    <p>Construída como um website de artigos separados por categorias.</p>
  </div>
</div>

