<div class="container">
  <%= render partial: "alert" %>
  <div class="central">
    <div class="article-header">
      <h2>Admin dashboard</h2>
    </div>
  </div>
  <div class="stats">
    <p>O sistema contém <%= @articles.count %> artigos.</p>
    <p>Estes artigos contém <%= @comments.count %> comentários.</p>
    <p><%= @users.count %> usuários estão registrados.</p>
  </div>
</div>