<%= render partial: "alert" %>
<div class="container">
  <div class="central">
    <div class="padded bordered shadowed about">
    <h2>Sobre este website</h2>
    <p>Este website foi criado como um exercício onde
    foram utilizadas a maioria das funções do Ruby on Rails
    estudadas até o momento.</p>
    <p>Foram utilizadas funções de:
      <ul>
        <li>
          Paginação
        </li>
        <li>
          Helpers
        </li>
        <li>
          Visualização de imagens do active text
        </li>
        <li>
          Geração programática de conteúdo
        </li>
        <li>
          Gem rails-settings-cached
        </li>
        <li>
          Entre outras
        </li>
      </ul>
      O objetivo deste website é apenas aprendizado, portanto
      podem haver erros no código que não foram trabalhados.
    </p>
  </div>
</div>
</div>
<div class="main-footer">
    <div>
      <h1 class="main-title-footer"><i class="fa-solid fa-pen-nib ico-blue"></i> Artigos</h1>
    </div>
    <div class="main-middle">
    </div>
    <div class="sec-title-outer">
      <p class="sec-title"></p>
    </div>
  </div>