<%= render partial: "alert" %>
<button id="example-modal-button">Open Modal</button>
<%=render 'modals/example_modal' %>

<script>

// app/assets/javascripts/modals.js
$(document).ready(function() {
  var modal = $("#example-modal");
  var btn = $("#example-modal-button");
  var span = $(".close");

  btn.click(function() {
    modal.show();
  });

  span.click(function() {
    modal.hide();
  });

  $(window).click(function(event) {
    if (event.target == modal[0]) {
      modal.hide();
    }
  });
});


</script>