<%= render partial: "alert" %>
<div class="wrapper" style="display:flex;flex-direction:column;min-height:90vh;">
  <div style="flex:1;">  
    <button id="example-modal-button">Open Modal</button>
    <%=render 'modals/example_modal' %>
  </div>
  <div>
  <div class="main-footer">
      <div>
        <h1 class="main-title-footer"><i class="fa-solid fa-pen-nib ico-blue"></i> Artigos</h1>
      </div>
      <div class="main-middle">
      </div>
      <div class="sec-title-outer">
        <p class="sec-title"></p>
      </div>
    </div>
  </div>
</div>
<script>

// app/assets/javascripts/modals.js
$(document).ready(function() {
  var modal = $("#example-modal");
  var btn = $("#example-modal-button");
  var span = $(".close");

  btn.click(function() {
    modal.show();
  });

  span.click(function() {
    modal.hide();
  });

  $(window).click(function(event) {
    if (event.target == modal[0]) {
      modal.hide();
    }
  });
});


</script>