<div class="container">
  <div class="central">
    <div class="bordered padded shadowed">
      <h2>Erro 404: Página não encontrada</h2>
      <p>A página que você tentou acessar não
      existe neste servidor ou apresenta um erro.
      Pressione "voltar" em seu navegador, ou
      vá para a <a href="<%= url_for(root_path) %>">página inicial</a>.</p>
    </div>
  </div>
</div>