<div class="container">
  <div class="central">
    <div class="bordered padded shadowed">
      <h2>Erro 404: Página não encontrada</h2>
      <p>A página que você tentou acessar não
      existe neste servidor ou apresenta um erro.
      Pressione "voltar" em seu navegador, ou
      vá para a <a href="<%= url_for(root_path) %>" class="lnk">página inicial</a>.</p>
    </div>
  </div>
</div>

<div class="main-header">
    <div class="main-title-outer">
      <h1 class="main-title"><i class="fa-solid fa-pen-nib ico-blue"></i> Artigos</h1>
    </div>
    <div class="main-middle">
    </div>
    <div class="sec-title-outer">
      <p class="sec-title"></p>
    </div>
  </div>