<!-- app/views/modals/_example_modal.html.erb -->
<div id="example-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Example Modal</h2>
    </div>
    <div class="modal-body">
      <!-- Add your content here -->
    </div>
  </div>
</div>
