body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.outer {
  display: flex;
  justify-content: space-between;
}

.inner-left {
  display: flex;
  justify-content: flex-start;
}

.inner-right {
  display: flex;
  justify-content: flex-end;
}

.navigation {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navigation a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
/* .navigation a.active {
  background-color: #04AA6D;
  color: white;
} */

/* Hide the link that should open and close the topnav on small screens */
.navigation .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navigation a:not(:first-child) {display: none;}
  .navigation a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navigation.responsive {position: relative;}
  .navigation.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

