<% if current_user.admin? %>
<div class="navigation" id="navTop" style="background-color:rgb(119, 44, 44);">
<% else %>
<div class="navigation" id="navTop">
<% end %>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars ico-blue"></i>
  </a>
  <div class="outer">
    <div class="inner-left">
      <div class="nav-items">
        <a href="<%= url_for(root_path) %>" class="active"><i class="fa-solid fa-house ico-blue"> </i> Início</a>
        <a href="<%= url_for(contact_path) %>"><i class="fa-solid fa-envelope ico-blue"></i> Contato</a>
        <a href="<%= url_for(about_path) %>"><i class="fa-solid fa-circle-info ico-blue"></i> Sobre</a>
      </div>
    </div>
    <div class="inner-right" id="rightDiv">
      <div class="hide-nav" id="hideNav">
        <div class="nav-items">
          <%= user_links %>
        </div>
      </div>
    </div>
  </div>  
</div>